[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
jupyter = "*"
pillow = "*"
matplotlib = "*"
scikit-learn = "*"
torchvision = "*"
opencv-python = "*"
torch = "*"
ultralytics = "==8.2.58"
tensorflow = "*"
imutils = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.4"
